/.idea/$PRODUCT_WORKSPACE_FILE$
/.idea/.gitignore
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.idea/checkstyle-idea.xml
/.gradle/5.2.1/javaCompile/classAnalysis.bin
/.gradle/5.2.1/executionHistory/executionHistory.bin
/.gradle/5.2.1/executionHistory/executionHistory.lock
/.gradle/5.2.1/fileContent/fileContent.lock
/.gradle/5.2.1/fileHashes/fileHashes.bin
/.gradle/5.2.1/fileHashes/fileHashes.lock
/.gradle/5.2.1/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/build/classes/java/main/com/github/pinkolik/hazelcast/policy/IncomeDocumentsEvictionPolicy.class
/.gradle/5.2.1/javaCompile/jarAnalysis.bin
/.gradle/5.2.1/javaCompile/javaCompile.lock
/.gradle/5.2.1/fileChanges/last-build.bin
/build/classes/java/main/com/github/pinkolik/hazelcast/Main.class
/.idea/misc.xml
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/5.2.1/fileHashes/resourceHashesCache.bin
/.gradle/5.2.1/javaCompile/taskHistory.bin
/.idea/vcs.xml
